body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: xx-large;
  font-weight: 900;
}
p{
  font-size: larger;
  font-weight: 500;
}
a{
  font-size: large;
}
